@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("http://fonts.cdnfonts.com/css/clash-display");

/*@font-face {
  font-family: "Clash";
  src: url("./ClashGrotesk-Semibold.otf");
}*/

body {
  background-color: white;
  background-color: #b72515;
  webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow-wrap: break-word;
}
