---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---


<Layout title="Welcome to test.">
    <header>
        <nav class="container">
            <p>Hello</p>
        </nav>
    </header>
    <main>
        <div class="p-10 max-w-sm mx-auto bg-white rounded-xl shadow-lg flex items-center space-x-4">
	    </div>
    </main>
</Layout>
