---
import LogoMain from './logo/logomain'
---
<header class="fixed w-full items-center p-4 z-20  backdrop-blur-lg font-clash font-semibold text-burger-sauce bg-burger-accent bg-opacity-80">
    <div class="">
        <nav class=" flex gap-3">
            <div class="phone:px-20 md:px-20 lg:px-20 xl:px-20 relative tracking-tighter 2xl:py-6 phone:scale-[1] 2xl:px-20 md:scale-[1] lg-scale-[1] xl:scale-[1] 2xl:scale-[1.2] scale-[0.8]">
            <LogoMain />
                </div>
                <div class="relative items-center 2xl:p-10 mx-auto max-w-l p-6">
        <div class="gap-20 text-center 2xl:flex xl:flex lg:flex hidden md:flex sm:flex">
            <a href="#menu">Meniu</a>
            <a href="#about">Despre Noi</a>
            <a href="#contact">Unde ne găsești?</a>
                    </div>
                    </div>
            <div class="relative right-7 top-0 2xl:top-8 h-10 w-60 rounded-xl bg-burger-sauce items-center flex justify-center">
                        <div class="shrink-0 justify-center">
                            <div class="px-16 justify-center relative top-[1.1rem] font-semibold text-burger-accent text-sm">+40 (770) 250 647</div>    
                        <p class="text-xs left-9 w-[11.5rem] relative text-center top-7 ">Aradului, Ronaț, Mehala, Dacia        L-V (17:00 - 21:00)</p>       
                </div>
            </div>
        </nav>
    </div>
</header>
