---
export interface Props{
    title: string;
    description: string;
    price: string;
    href: string;
}

const { title, description, price, href } = Astro.props;
---

<div class="flex relative phone:justify-start justify-center">
    <div class="relative md:left-24 sm:left-24 sm:w-20 sm:p-24  md:p-32 p-40  max-h-12 w-5 md:w-20 bg-burger-accent rounded-xl items-center overflow-hidden">

        <img src={href} class="phone:h-64 right-[9.8rem] phone:scale-[1] scale-[2] h-52 max-w-none relative md:right-[12.2rem] md:h-64 md:bottom-32 sm:h-52 sm:right-40 sm:bottom-24 bottom-28">

    </div>

        <div class="phone:static absolute phone:py-0 py-[21rem]">
                <p class=" md:px-36 sm:px-36 md:text-2xl sm:text-2xl px-12 text-2xl text-burger-accent">{title}</p>
        
            <p class=" md:px-36 sm:px-36 md:py-34 font-medium text-burger-accent px-12 md:text-xl">Ingrediente: {description}</p>
    </div>
    <p class="absolute phone:right-32 md:py-24 md:text-xl sm:py-24 sm:text-xl right-12 py-[21rem] text-xl text-burger-accent">RON {price}</p>  
</div>


