---
export interface Props{
    title: string;
    description: string;
    price: string;
    href: string;
}

const { title, description, price, href } = Astro.props;
---

<div class="flex relative md:justify-start lg:justify-start xl:justify-start sm:justify-start 2xl:justify-start justify-center phone:justify-center">
    <div class="relative md:left-24 sm:left-24 2xl:left-24 phone:left-20 lg:p-40 2xl:p-40 phone:p-20 sm:w-20 sm:p-24 xl:p-40   md:p-32 p-40  max-h-12 w-5 md:w-20 bg-burger-accent rounded-xl items-center overflow-hidden">

        <img src={href} class="phone:h-64 right-[9.8rem] phone:right-[12rem] phone:scale-[0.9] md:scale-[1.3] lg:scale-[1.7] xl:scale-[1.3] 2xl:scale-[1.6] scale-[2]  sm:scale-[1] h-52 max-w-none relative md:right-[12.2rem] md:h-64 md:bottom-32 sm:h-52 sm:right-40 sm:bottom-24 bottom-28">

    </div>

        <div class="phone:static md:static sm:static lg:static xl:static 2xl:static absolute phone:py-0 xl:py-0 lg:py-0 md:py-0 sm:py-0 2xl:py-0 py-[21rem]">
                <p class="2xl:px-36 2xl:text-4xl md:px-36 break-words w-60 xl:w-full lg:w-full md:w-full 2xl:w-full phone:w-full sm:px-36 sm:w-full md:text-2xl sm:text-2xl px-12 text-2xl text-burger-accent">{title}</p>
        
            <p class="md:px-36 2xl:text-2xl 2xl:px-36 sm:px-36 md:py-34 font-medium text-burger-accent px-12 md:text-xl">Ingrediente: {description}</p>
    </div>
    <p class="absolute phone:flex 2xl:flex lg:flex sm:flex md:flex phone:right-32 md:right-16 md:py-24 md:text-xl sm:py-24 sm:text-xl right-12 py-[21.2rem] 2xl:text-2xl 2xl:p-32 text-xl text-burger-accent">RON {price}</p>  
</div>


